@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*

{
    padding:0px;
    margin:0px;
}
html.body
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.image_1
{
    background: url(https://i.pinimg.com/originals/f3/8e/41/f38e413a04321ed0f6b848568ddc2650.jpg) no-repeat;
    background-size: cover;
    filter: blur(8px);
    background-position: center;
    width: 100%;
    height: 635px;
    text-align: center;
    position: absolute;
}

.layer span
{
    text-align: center;
    width: 80px;
    height: 2px;
    position: absolute;
    margin-left: -40px;
    background: whitesmoke;

}

text_1 h1
{
    font-size: 80px;
    letter-spacing: 4px;
}

.layer
{
    width: 100%;
    height: 635px;
    position: absolute;
    text-align: center;
}

.text_1
{
    color: white;
    text-align: ;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 53%;
    left: 50%;

}

.rectangle
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: -60px;
    left: 50%;
}

.rectangle h2
{
    color: white;
    font-size: 50px;
    font-weight: lighter;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    
}

.sosmed
{
    position: absolute;
    top: 80%;
    transform: transformY(-50%);
    width: 100%;
    text-align: center;

}

.tombol
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-sizing: 0 5px 15px 15px -5px #00000070;
    overflow: hidden;
    position:relative;
    color: #2980b9;

}

.tombol i
{
transition: 0.2s linear;
font-size: 10px;
line-height: 16px;    
}

.tombol : :hover i {
    transform: scale(1.3);
    color: #f1f1f1;

}

.tombol::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    left: -110px;
}